.ijumbotron {
    width: 100%;
    padding: 40px 20px 30px 20px;
    background-color: #1695A3;
    text-align: center;
    color: white;
  -webkit-box-shadow: 0 5px 10px #aaa;
  -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
}



.imgCircle {
    border-radius: 50%;
    width: 20%;
    opacity: 0.95;
    -webkit-animation-name: example;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s;
    /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1s;
}


/* Chrome, Safari, Opera */

@-webkit-keyframes example {
    5% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.15;
    }
    25% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.25;
    }
    35% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.35;
    }
    45% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.45;
    }
    55% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.55;
    }
    65% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.65;
    }
    75% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.75;
    }
    85% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.85;
    }
    95% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.95;
    }
}


/* Standard syntax */

@keyframes example {
    5% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.15;
    }
    25% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.25;
    }
    35% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.35;
    }
    45% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.45;
    }
    55% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.55;
    }
    65% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.65;
    }
    75% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.75;
    }
    85% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.85;
    }
    95% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.95;
    }
}

nav a{
    opacity: .8;
}
nav a:hover {
    opacity: 1;
    text-decoration: none;
}

